In [0]:
l = range(5)

In [0]:
l

Out[2]: range(0, 5)

In [0]:
rdd = sc.parallelize(l)

In [0]:
rdd.collect()

Out[50]: [0, 1, 2, 3, 4]

In [0]:
def sqr(e):
    return e**2

rdd.map(sqr).collect()

Out[51]: [0, 1, 4, 9, 16]

#### display the sum of a rdd using reduce

In [0]:
rdd.reduce( lambda s,e :print(s,e) )

0 1
None 2
None 3
None 4

#### Calculate the sum and the number of element in a RDD using aggregate

In [0]:
seqOp = (lambda result, e: (result[0] + e, result[1] + 1))
#for each element , we calculate the sum, and the count


combOp = (lambda result, e: (result[0] + e[0], result[1] + e[1]))
#Take the results and sum them

rdd.aggregate((0, 0), seqOp, combOp)

Out[65]: (10, 5)

Fonctionnement de la fonction du dessus

si on a un rdd qui est trois partitions : 0 1 2 3 4 | 5 6 7 8 9 | 10 11 12 13 14
on veut aggreate la somme et le nombre d'element

le résultat est en deux partie [somme, count]

au début résult[0,0]
puis on fait [0+0,0+1] (qui correspond à result[0] + e, result[1] + 1) ( somme et nombre d'element)
puis  [0+1,1+1] 
puis  [1+2,2+1] 
...

A la fin on a trois résult [10,5] [35,5], [60,5]

et on applique le second opérateur
[10+35,5+5]
puis [45+60,10+5]

ce qui finit par [105,15]

#### Calculate the sum, the count and the sum of square

#### Write a python program for spark that displays how many words in a script start by "a" and by "b" (lower and upper)

In [0]:
s = sc.parallelize("Bonjour je suis Albert et j'aime les abrico et les Bon bon")

In [0]:
s.flatMap(lambda e: e.split()).filter(lambda e:e.lower().startswith('a')).count()

Out[93]: 3

####Cwrite a wrord counting using pyspark, then display the words with their frequency

In [0]:
s = ["bnjour bonjour bonjour"]

In [0]:
rdd= sc.parallelize(s)
rdd.collect()

Out[97]: ['bnjour bonjour bonjour']

In [0]:
rdd.flatMap(lambda e: e.lower().split()) \
    .map(lambda e:(e,1)) \
    .reduceByKey(lambda r,v:r+v)\
    .sortBy(keyfunc=(lambda kv : (kv[1],kv[0])),ascending=False)\
    .collect()

Out[108]: [('bonjour', 2), ('bnjour', 1)]

# TP REVENUE

In [0]:
revenue_rdd = sc.wholeTextFiles('/FileStore/tables/TP1_revenue')

In [0]:
finalrdd = revenue_rdd.map(lambda kv :(kv[0].split('/')[-1].split('.txt')[0],kv[1]))\
               .flatMapValues(lambda v : v.split("\r\n"))\
                .map(lambda kv : (kv[0].split('_')[0],kv[0], kv[1].split()[0], kv[1].split()[1]))
finalrdd.collect()

Out[3]: [('anger', 'anger', 'JAN', '13'),
 ('anger', 'anger', 'FEB', '12'),
 ('anger', 'anger', 'MAR', '14'),
 ('anger', 'anger', 'APR', '15'),
 ('anger', 'anger', 'MAY', '12'),
 ('anger', 'anger', 'JUN', '15'),
 ('anger', 'anger', 'JUL', '19'),
 ('anger', 'anger', 'AUG', '15'),
 ('anger', 'anger', 'SEP', '13'),
 ('anger', 'anger', 'OCT', '8'),
 ('anger', 'anger', 'NOV', '14'),
 ('anger', 'anger', 'DEC', '16'),
 ('lyon', 'lyon', 'JAN', '13'),
 ('lyon', 'lyon', 'FEB', '12'),
 ('lyon', 'lyon', 'MAR', '14'),
 ('lyon', 'lyon', 'APR', '15'),
 ('lyon', 'lyon', 'MAY', '12'),
 ('lyon', 'lyon', 'JUN', '15'),
 ('lyon', 'lyon', 'JUL', '19'),
 ('lyon', 'lyon', 'AUG', '25'),
 ('lyon', 'lyon', 'SEP', '13'),
 ('lyon', 'lyon', 'OCT', '11'),
 ('lyon', 'lyon', 'NOV', '22'),
 ('lyon', 'lyon', 'DEC', '22'),
 ('marseilles', 'marseilles_1', 'JAN', '21'),
 ('marseilles', 'marseilles_1', 'FEB', '21'),
 ('marseilles', 'marseilles_1', 'MAR', '21'),
 ('marseilles', 'marseilles_1', 'APR', '27'),
 ('marseilles', 'marseilles_1', 'MAY', '25'),
 ('marseilles', 'marseilles_1', 'JUN', '25'),
 ('marseilles', 'marseilles_1', 'JUL', '21'),
 ('marseilles', 'marseilles_1', 'AUG', '22'),
 ('marseilles', 'marseilles_1', 'SEP', '23'),
 ('marseilles', 'marseilles_1', 'OCT', '28'),
 ('marseilles', 'marseilles_1', 'NOV', '24'),
 ('marseilles', 'marseilles_1', 'DEC', '26'),
 ('marseilles', 'marseilles_2', 'JAN', '11'),
 ('marseilles', 'marseilles_2', 'FEB', '11'),
 ('marseilles', 'marseilles_2', 'MAR', '11'),
 ('marseilles', 'marseilles_2', 'APR', '17'),
 ('marseilles', 'marseilles_2', 'MAY', '12'),
 ('marseilles', 'marseilles_2', 'JUN', '25'),
 ('marseilles', 'marseilles_2', 'JUL', '21'),
 ('marseilles', 'marseilles_2', 'AUG', '22'),
 ('marseilles', 'marseilles_2', 'SEP', '23'),
 ('marseilles', 'marseilles_2', 'OCT', '28'),
 ('marseilles', 'marseilles_2', 'NOV', '24'),
 ('marseilles', 'marseilles_2', 'DEC', '26'),
 ('nantes', 'nantes', 'JAN', '16'),
 ('nantes', 'nantes', 'FEB', '15'),
 ('nantes', 'nantes', 'MAR', '20'),
 ('nantes', 'nantes', 'APR', '12'),
 ('nantes', 'nantes', 'MAY', '21'),
 ('nantes', 'nantes', 'JUN', '28'),
 ('nantes', 'nantes', 'JUL', '19'),
 ('nantes', 'nantes', 'AUG', '11'),
 ('nantes', 'nantes', 'SEP', '13'),
 ('nantes', 'nantes', 'OCT', '14'),
 ('nantes', 'nantes', 'NOV', '14'),
 ('nantes', 'nantes', 'DEC', '24'),
 ('nice', 'nice', 'JAN', '16'),
 ('nice', 'nice', 'FEB', '15'),
 ('nice', 'nice', 'MAR', '20'),
 ('nice', 'nice', 'APR', '9'),
 ('nice', 'nice', 'MAY', '11'),
 ('nice', 'nice', 'JUN', '18'),
 ('nice', 'nice', 'JUL', '19'),
 ('nice', 'nice', 'AUG', '11'),
 ('nice', 'nice', 'SEP', '23'),
 ('nice', 'nice', 'OCT', '18'),
 ('nice', 'nice', 'NOV', '14'),
 ('nice', 'nice', 'DEC', '29'),
 ('orlean', 'orlean', 'JAN', '13'),
 ('orlean', 'orlean', 'FEB', '12'),
 ('orlean', 'orlean', 'MAR', '14'),
 ('orlean', 'orlean', 'APR', '15'),
 ('orlean', 'orlean', 'MAY', '12'),
 ('orlean', 'orlean', 'JUN', '15'),
 ('orlean', 'orlean', 'JUL', '19'),
 ('orlean', 'orlean', 'AUG', '25'),
 ('orlean', 'orlean', 'SEP', '13'),
 ('orlean', 'orlean', 'OCT', '8'),
 ('orlean', 'orlean', 'NOV', '24'),
 ('orlean', 'orlean', 'DEC', '26'),
 ('paris', 'paris_1', 'JAN', '51'),
 ('paris', 'paris_1', 'FEB', '21'),
 ('paris', 'paris_1', 'MAR', '11'),
 ('paris', 'paris_1', 'APR', '57'),
 ('paris', 'paris_1', 'MAY', '55'),
 ('paris', 'paris_1', 'JUN', '55'),
 ('paris', 'paris_1', 'JUL', '61'),
 ('paris', 'paris_1', 'AUG', '42'),
 ('paris', 'paris_1', 'SEP', '43'),
 ('paris', 'paris_1', 'OCT', '68'),
 ('paris', 'paris_1', 'NOV', '61'),
 ('paris', 'paris_1', 'DEC', '71'),
 ('paris', 'paris_2', 'JAN', '43'),
 ('paris', 'paris_2', 'FEB', '42'),
 ('paris', 'paris_2', 'MAR', '44'),
 ('paris', 'paris_2', 'APR', '35'),
 ('paris', 'paris_2', 'MAY', '72'),
 ('paris', 'paris_2', 'JUN', '85'),
 ('paris', 'paris_2', 'JUL', '19'),
 ('paris', 'paris_2', 'AUG', '45'),
 ('paris', 'paris_2', 'SEP', '63'),
 ('paris', 'paris_2', 'OCT', '64'),
 ('paris', 'paris_2', 'NOV', '64'),
 ('paris', 'paris_2', 'DEC', '66'),
 ('paris', 'paris_3', 'JAN', '21'),
 ('paris', 'paris_3', 'FEB', '36'),
 ('paris', 'paris_3', 'MAR', '24'),
 ('paris', 'paris_3', 'APR', '24'),
 ('paris', 'paris_3', 'MAY', '23'),
 ('paris', 'paris_3', 'JUN', '25'),
 ('paris', 'paris_3', 'JUL', '21'),
 ('paris', 'paris_3', 'AUG', '38'),
 ('paris', 'paris_3', 'SEP', '38'),
 ('paris', 'paris_3', 'OCT', '38'),
 ('paris', 'paris_3', 'NOV', '21'),
 ('paris', 'paris_3', 'DEC', '21'),
 ('rennes', 'rennes', 'JAN', '19'),
 ('rennes', 'rennes', 'FEB', '18'),
 ('rennes', 'rennes', 'MAR', '10'),
 ('rennes', 'rennes', 'APR', '9'),
 ('rennes', 'rennes', 'MAY', '11'),
 ('rennes', 'rennes', 'JUN', '13'),
 ('rennes', 'rennes', 'JUL', '14'),
 ('rennes', 'rennes', 'AUG', '11'),
 ('rennes', 'rennes', 'SEP', '23'),
 ('rennes', 'rennes', 'OCT', '18'),
 ('rennes', 'rennes', 'NOV', '14'),
 ('rennes', 'rennes', 'DEC', '20'),
 ('toulouse', 'toulouse', 'JAN', '12'),
 ('toulouse', 'toulouse', 'FEB', '13'),
 ('toulouse', 'toulouse', 'MAR', '14'),
 ('toulouse', 'toulouse', 'APR', '11'),
 ('toulouse', 'toulouse', 'MAY', '11'),
 ('toulouse', 'toulouse', 'JUN', '18'),
 ('toulouse', 'toulouse', 'JUL', '19'),
 ('toulouse', 'toulouse', 'AUG', '11'),
 ('toulouse', 'toulouse', 'SEP', '23'),
 ('toulouse', 'toulouse', 'OCT', '14'),
 ('toulouse', 'toulouse', 'NOV', '12'),
 ('toulouse', 'toulouse', 'DEC', '19'),
 ('troyes', 'troyes', 'JAN', '21'),
 ('troyes', 'troyes', 'FEB', '21'),
 ('troyes', 'troyes', 'MAR', '11'),
 ('troyes', 'troyes', 'APR', '17'),
 ('troyes', 'troyes', 'MAY', '15'),
 ('troyes', 'troyes', 'JUN', '25'),
 ('troyes', 'troyes', 'JUL', '11'),
 ('troyes', 'troyes', 'AUG', '22'),
 ('troyes', 'troyes', 'SEP', '21'),
 ('troyes', 'troyes', 'OCT', '28'),
 ('troyes', 'troyes', 'NOV', '11'),
 ('troyes', 'troyes', 'DEC', '11')]

In [0]:
df = spark.createDataFrame(finalrdd,schema=["city","store","month","revenue"])

In [0]:
df.show()

+-----+-----+-----+-------+
| city|store|month|revenue|
+-----+-----+-----+-------+
|anger|anger|  JAN|     13|
|anger|anger|  FEB|     12|
|anger|anger|  MAR|     14|
|anger|anger|  APR|     15|
|anger|anger|  MAY|     12|
|anger|anger|  JUN|     15|
|anger|anger|  JUL|     19|
|anger|anger|  AUG|     15|
|anger|anger|  SEP|     13|
|anger|anger|  OCT|      8|
|anger|anger|  NOV|     14|
|anger|anger|  DEC|     16|
| lyon| lyon|  JAN|     13|
| lyon| lyon|  FEB|     12|
| lyon| lyon|  MAR|     14|
| lyon| lyon|  APR|     15|
| lyon| lyon|  MAY|     12|
| lyon| lyon|  JUN|     15|
| lyon| lyon|  JUL|     19|
| lyon| lyon|  AUG|     25|
+-----+-----+-----+-------+
only showing top 20 rows

####Average montly income of all shops in france

In [0]:

print(finalrdd.map(lambda x: int(x[-1])).sum()/12)

301.5833333333333

####average monthly income of the shop in each city

In [0]:
#moyen plus opti
finalrdd.map(lambda x: (x[1],int(x[-1]))).reduceByKey(lambda s,e :s+e/12).collect()

Out[9]: [('anger', 25.749999999999996),
 ('lyon', 27.999999999999993),
 ('marseilles_1', 42.916666666666664),
 ('nice', 31.58333333333334),
 ('paris_2', 92.91666666666664),
 ('paris_3', 46.74999999999999),
 ('troyes', 37.083333333333336),
 ('marseilles_2', 29.333333333333332),
 ('nantes', 31.916666666666668),
 ('orlean', 28.249999999999996),
 ('paris_1', 96.41666666666666),
 ('rennes', 32.41666666666667),
 ('toulouse', 25.75)]

In [0]:
finalrdd.map(lambda x: (x[0],int(x[-1]))).groupByKey().mapValues(lambda x: round(sum(x),2))).collect()

Out[25]: [('anger', 166),
 ('lyon', 193),
 ('nice', 203),
 ('paris', 1568),
 ('troyes', 214),
 ('marseilles', 515),
 ('nantes', 207),
 ('orlean', 196),
 ('rennes', 180),
 ('toulouse', 177)]

####total revenue per city per year

In [0]:
finalrdd.map(lambda x: (x[0],int(x[-1]))).reduceByKey(lambda s,e :s+e).collect()

Out[33]: [('anger', 166),
 ('lyon', 193),
 ('nice', 203),
 ('paris', 1568),
 ('troyes', 214),
 ('marseilles', 515),
 ('nantes', 207),
 ('orlean', 196),
 ('rennes', 180),
 ('toulouse', 177)]

####total revenue per store per year

In [0]:
finalrdd.map(lambda x: (x[1],int(x[-1]))).reduceByKey(lambda s,e :s+e).collect()

Out[31]: [('anger', 166),
 ('lyon', 193),
 ('marseilles_1', 284),
 ('nice', 203),
 ('paris_2', 642),
 ('paris_3', 330),
 ('troyes', 214),
 ('marseilles_2', 231),
 ('nantes', 207),
 ('orlean', 196),
 ('paris_1', 596),
 ('rennes', 180),
 ('toulouse', 177)]

####The store with the best performance in each month

In [0]:
#Not optimal
finalrdd.map(lambda x:(x[2],(x[1],int(x[-1])))).groupByKey().mapValues(lambda l:max(l,key=lambda y:y[1])).collect()

#l is a list, so we take the max base of the city (the 1rst element)

Out[37]: [('APR', ('paris_1', 57)),
 ('MAY', ('paris_2', 72)),
 ('AUG', ('paris_2', 45)),
 ('JAN', ('paris_1', 51)),
 ('FEB', ('paris_2', 42)),
 ('MAR', ('paris_2', 44)),
 ('JUN', ('paris_2', 85)),
 ('JUL', ('paris_1', 61)),
 ('SEP', ('paris_2', 63)),
 ('OCT', ('paris_1', 68)),
 ('NOV', ('paris_2', 64)),
 ('DEC', ('paris_1', 71))]